# Data by world region

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
import json
from wordcloud import WordCloud, STOPWORDS
import gzip
from pylab import xticks
import tqdm.notebook 
from tqdm.notebook import trange
import pickle
import warnings
warnings.filterwarnings("ignore")
import plotly.express as px

In [7]:

#Importing the data
df_movie_meta = pd.read_table("./data/MovieSummaries/movie.metadata.tsv", header=None)
df_movie_meta.columns=["Wikipedia movie ID", "Freebase movie ID", "Movie name", "Movie release date", 
                     "Movie box office revenue", "Movie runtime", "Movie languages", "Movie countries", "Movie genres"]

In [13]:
df_movie_meta = df_movie_meta.drop(columns = ['Movie release date', 'Movie name', 'Movie languages',
                     "Movie box office revenue", "Movie genres", 'Movie runtime'])

In [14]:
df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].apply(lambda x: json.loads(x)) # Converts to dictionnary
df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].apply(lambda x: list(x.values()))

In [15]:
df_movie_meta.head()

   Wikipedia movie ID Freebase movie ID             Movie countries
0              975900         /m/03vyhn  [United States of America]
1             3196793         /m/08yl5d  [United States of America]
2            28463795        /m/0crgdbh                    [Norway]
3             9363483        /m/0285_cd            [United Kingdom]
4              261236         /m/01mrr1                   [Germany]

In [16]:
df_movie_meta['Movie countries']

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 5231, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[United States of America]                                                                         30300
[India]                                                                                             8240
[]                                                                                                  8154
[United Kingdom]                                                                                    5343
[Japan]                                                                                             2242
                                                                                                   ...
[Spain, England, United Kingdom]                                                                       1
[United States of America, Spain, Denmark, France, Italy, United Kingdom, Germany, Netherlands]        1
[Czech Republic, Yugoslavia, Czechoslovakia]                                                           1
[Finland, Ukraine, Russia]                                                                             1
[Switzerland, Italy, West Germany, German Democratic Republic]                                         1
Name: Movie countries, Length: 2124, dtype: int64