# Data by world region

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
import json
from wordcloud import WordCloud, STOPWORDS
import gzip
from pylab import xticks
import tqdm.notebook 
from tqdm.notebook import trange
import pickle
import warnings
warnings.filterwarnings("ignore")
import plotly.express as px

In [64]:

#Importing the data
df_movie_meta = pd.read_table("./data/MovieSummaries/movie.metadata.tsv", header=None)
df_movie_meta.columns=["Wikipedia movie ID", "Freebase movie ID", "Movie name", "Movie release date", 
                     "Movie box office revenue", "Movie runtime", "Movie languages", "Movie countries", "Movie genres"]

In [65]:
df_movie_meta = df_movie_meta.drop(columns = ['Movie release date', 'Movie name', 'Movie languages',
                     "Movie box office revenue", "Movie genres", 'Movie runtime'])

In [66]:
df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].apply(lambda x: json.loads(x)) # Converts to dictionnary
df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].apply(lambda x: list(x.values()))

In [67]:
df_movie_meta.head()

   Wikipedia movie ID Freebase movie ID             Movie countries
0              975900         /m/03vyhn  [United States of America]
1             3196793         /m/08yl5d  [United States of America]
2            28463795        /m/0crgdbh                    [Norway]
3             9363483        /m/0285_cd            [United Kingdom]
4              261236         /m/01mrr1                   [Germany]

In [68]:
df_movie_meta = df_movie_meta.explode('Movie countries')

In [69]:
df_movie_meta['Movie countries'].value_counts()

United States of America    34408
India                        8411
United Kingdom               7868
France                       4395
Italy                        3163
                            ...
Republic of China               1
Macau                           1
Palestinian Territories         1
German Language                 1
Ukranian SSR                    1
Name: Movie countries, Length: 147, dtype: int64

In [70]:
df_movie_meta

       Wikipedia movie ID Freebase movie ID           Movie countries
0                  975900         /m/03vyhn  United States of America
1                 3196793         /m/08yl5d  United States of America
2                28463795        /m/0crgdbh                    Norway
3                 9363483        /m/0285_cd            United Kingdom
4                  261236         /m/01mrr1                   Germany
...                   ...               ...                       ...
81737            34980460        /m/0g4pl34                   Ireland
81737            34980460        /m/0g4pl34            United Kingdom
81738             9971909        /m/02pygw1  United States of America
81739              913762         /m/03pcrp                     Japan
81740            12476867        /m/02w7zz8                    Canada

[94593 rows x 3 columns]

In [73]:
df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].replace({'United States of America': 'USA'})

west_europe = ['France','Italy','Germany','Spain','Luxembourg','Netherlands','United Kingdom'] 

for country in west_europe:
    df_movie_meta['Movie countries'] = df_movie_meta['Movie countries'].replace({country: 'West Europe'})

df_movie_meta = df_movie_meta[df_movie_meta['Movie countries'].isin(['USA', 'West Europe', 'India'])]

In [77]:
df_movie_meta['Movie countries'].value_counts()

USA            34408
West Europe    19870
India           8411
Name: Movie countries, dtype: int64

In [79]:
df_movie_meta.to_pickle('movies_by_region.p')